@model Bm.Models.Dp.PropertyAdvisor
@using Bm.Modules.Html
@using Bm.Services.Dp

@section Header{
    <script src="~/Scripts/init.js"></script>
    <link rel="stylesheet" href="~/Content/css/app.min.css">
}

@section PageHead {
        <h1>置业顾问信息<small></small></h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i>首页</a></li>
            <li><a href="@Url.Action("Index")"><i class="fa fa-book"></i>置业顾问</a></li>
            <li class="active">修改置业顾问信息</li>
        </ol>
    }

    <!-- Main content -->
    <section class="content">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">修改置业顾问信息(@(new ProjectService().GetByNo(Model.ProjectNo)?.Name))</h3>
            </div>
            <form class="form-horizontal" action="@Url.Action("Edit")" method="POST">
                <div class="box-body">
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.No)
                    @Html.HiddenFor(m => m.ProjectNo)
                    @Html.InputFor(m => m.Name, new { @readonly = "readonly" })
                    @Html.InputFor(m => m.MobileNo, new { @readonly = "readonly" })
                    @Html.InputFor(m => m.Title, SelectListFactory.PropertyTitleList())
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn bg-blue btn-flat margin">确认提交</button>
                    <a href="@Url.Action("Index")" class="btn btn-default btn-flat margin"><i class="fa fa-mail-reply"></i> 返回列表</a>
                </div>
                <!-- /.box-footer -->

            </form>
        </div>
    </section>