@model IList<Bm.Models.Base.Account>
@using Bm.Services.Common
@using com.senlang.Sdip.Util

@section PageHead {
    <h1>账户信息<small></small></h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>首页</a></li>
        <li><a href="@Url.Action("Index")"><i class="fa fa-book"></i>账户</a></li>
        <li class="active">查看账户信息</li>
    </ol>
}
@using (Html.BeginForm())
{
        <!-- Main content -->
    <section class="content">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">查看数据</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                @foreach (var account in Model)
                                {
                                    <table class="table data table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                        <tr>
                                            <td rowspan="4" colspan="2" class="text-center col-sm-4">
                                                <p>编号(后6位)：@account.No.Right(6)</p>
                                                @if (string.IsNullOrEmpty(account.Photo))
                                                {
                                                    <p>无头像</p>
                                                }
                                                else
                                                {
                                                    <img src="@AccessoryService.GetUrl(account.Photo)" style="max-width: 120px; max-height: 120px"/>
                                                }
                                            </td>
                                            <th>姓名</th>
                                            <td class="col-sm-2">@account.Name</td>
                                            <th>手机号码</th>
                                            <td class="col-sm-2">@account.Phone</td>
                                        </tr>
                                        <tr>
                                            <th>手机号码2</th>
                                            <td>@account.Phone2</td>
                                            <th>手机号码3</th>
                                            <td>@account.Phone3</td>
                                        </tr> <tr>
                                            <th>电子邮件</th>
                                            <td>@account.Email</td>
                                            <th>备注</th>
                                            <td>@account.Remark</td>
                                        </tr>
                                        <tr>
                                            <th>推荐人</th>
                                            <td>@account.Referral</td>
                                            <th>角色</th>
                                            <td>@account.GetRoleNames()</td>
                                        </tr>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a href="@Url.Action("Index")" class="btn btn-default btn-flat margin"><i class="fa fa-mail-reply"></i> 返回列表</a>
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
    </section>
}