<input type="hidden" name="uuid" value="@ViewData["uuid"]" />

<header class="bar bar-nav">
    <h1 class="title">注册</h1>
</header>
<form id="t" method="GET" action="/base/register/verify">
<div class="content">
    <div class="list-block">
        <ul>
            <!-- Text inputs -->
            <li>
                <div class="item-content">
                    <div class="item-media">
                        <i class="icon icon-form-name"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-input">
                            <input type="number" name="phoneNo" id="phoneNo" readonly="readonly" placeholder="手机号码" value="@Request.Params["phoneNo"]">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media">
                        <i class="icon icon-form-password"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-input">
                            <input type="text" name="codeConfirm" id="codeConfirm" placeholder="注册验证码" class="">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media">
                        <i class="icon icon-form-password"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-input">
                            <input type="password" name="password" id="password" placeholder="密码" class="">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media">
                        <i class="icon icon-form-password"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-input">
                            <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="重复密码" class="">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="content-block">
        <div class="row">
            <div class="col-100">
                <a id="submit" class="button button-big button-fill button-success">确认注册</a>
            </div>
        </div>
    </div>
    <div class="content-padded grid-demo">
        <div class="row">
            <div class="col-50">
                <a href="@Url.Action("Login", "Session", new {Area = "Base"})">登录</a>
            </div>
            <div class="col-50">
                <a href="@Url.Action("Index", "ForgotPass", new {Area = "Base"})">忘记密码</a>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="uuid" name="uuid" value="@ViewData["uuid"]"/>
    </form>
<script>
    
    $('#submit').click(function () {
        $('#t').submit();
    });
    $('#submit').tap(function () {
        $('#t').submit();
    });

    $('#submit').tap(function() {
        
        var data = $('#t').serializeArray();
        alert(data);

        $.ajax({
            type: 'GET',
            url: '/base/register/verify',
            // data to be added to query string:
            data: { uuid: $('#uuid').val(), phoneNo: $("#phoneNo").val(), password: $("#password").val() },
            // type of data we are expecting in return:
            dataType: 'json',
            timeout: 300,
            context: $('body'),
            success: function(data) {
                // Supposing this JSON payload was received:
                //   {"project": {"id": 42, "html": "<div>..." }}
                // append the HTML to context object.
                alert(data);
            },
            error: function(xhr, type) {
                alert('Ajax error!');
            }
        });
    })
</script>