@model Bm.Models.Dp.Broker
@using Bm.Modules.Html 
@using Bm.Services.Common
@using Bm.Services.Dp

@section Header{
    <script src="~/Scripts/init.js"></script>
    <link rel="stylesheet" href="~/Content/css/app.min.css">
}
<script type="text/javascript">
    
//绑定下拉框联动
function bindNameByNo(no, name) {
        var getno = document.getElementsByName(no);
        var getname = document.getElementsByName(name);
        $(getno).change(function() {
            var vala = $(this).val();
            $.ajax({
                url: "/api/no/",
                data: { tbl: "dp_brokerage_firm", no: "FirmNo", noVal: vala, name: "Name" },
                type:"get",
                dataType: "json"
            }).done(function (data) {
                $(getname).val(data);
            });
        });
    }
    $(function() {
        bindNameByNo("FirmNo", "Firm");
        $("#FirmNo").trigger("change");
    });

</script>
    @section PageHead {
        <h1>新增经纪人信息<small></small></h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i>首页</a></li>
            <li><a href="@Url.Action("Index")"><i class="fa fa-book"></i>经纪人</a></li>
            <li class="active">新增经纪人信息</li>
        </ol>
    }

    <!-- Main content -->
    <section class="content">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">新增经纪人信息</h3>
            </div>
            <form class="form-horizontal" action="@Url.Action("Create")" method="POST" enctype="multipart/form-data">
                <div class="box-body">
                    @Html.InputFor(m => m.No)
                    @Html.InputFor(m => m.Name)
                    @Html.InputFor(m => m.Mobile)
                    @Html.InputFor(m => m.Email)
                    @Html.InputFor(m => m.City)
                    @Html.InputFor(m => m.CityNo)
                    @Html.InputFor(m => m.Gender, SelectListFactory.GenderList(), new { @class = "form-control " })
                    @Html.InputFor(m => m.FirmNo, SelectListFactory.BrokerageAllNo())
                    @Html.HiddenFor(m => m.Firm)
                    @Html.InputFor(m => m.Intro)
                    @Html.InputFor(m => m.RegAt)
                    @Html.InputFor(m => m.Referral) 
                    @Html.InputFor(m => m.Pic, new { @class=" upload-file img", data_url=AccessoryService.GetUrl("") })
                   
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn bg-blue btn-flat margin">确认提交</button>
                    <a href="@Url.Action("Index")" class="btn btn-default btn-flat margin"><i class="fa fa-mail-reply"></i> 返回列表</a>
                </div>
                <!-- /.box-footer -->

            </form>
        </div>
    </section>