@using Bm.Modules.Html
@model IList<Bm.Models.Dp.Broker>


@section Header{
    <script src="~/Scripts/init.js"></script>
}
@section PageHead {
    <h1>经纪人信息<small></small></h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>首页</a></li>
        <li><a href="@Url.Action("Index")"><i class="fa fa-book"></i>经纪人</a></li>
        <li class="active">查看经纪人信息</li>
    </ol>
}

@using (Html.BeginForm())
{
        <!-- Main content -->
    <section class="content">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">查看数据</h3>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                            @foreach (var item in Model)
                                        {
                                        <tr>
                                            <th style="text-align:center;width:200px;">经纪人姓名</th>
                                            <td>
                                                <div>
                                                    <div style="text-align:center">@item.Name</div>
                                                </div>
                                            </td>
                                        </tr>
                                        @*<tr>
                                            <th style="text-align:center">性别</th>
                                            <td>
                                                <div>
                                                    <div style="text-align:center">@item.Gender</div>
                                                </div>
                                            </td>
                                        </tr>*@
                                        @*<tr>

                                            <th style="text-align:center">经济公司</th>
                                            <td>
                                                <div>
                                                    <div style="text-align:center">@item.Firm</div>
                                                </div>
                                            </td>
                                        </tr>*@
                                        @*<tr>

                                            <th style="text-align:center">电子邮箱</th>
                                            <td>
                                                <div>
                                                    <div style="text-align:center">@item.Email</div>
                                                </div>
                                            </td>
                                        </tr>*@
                                        @*<tr>
                                            <th style="text-align:center">个人简介</th>
                                            <td>
                                                <div>
                                                    <div style="text-align:center">@item.Intro</div>
                                                </div>
                                            </td>
                                        </tr>*@
                                        <tr>

                                            <th style="text-align:center">手机号</th>
                                            <td>
                                                <div>
                                                    <div style="text-align:center">@item.Mobile</div>
                                                </div>
                                            </td>
                                        </tr>
                                        @*<tr>

                                            <th style="text-align:center">推荐人</th>
                                            <td>
                                                <div>
                                                    <div style="text-align:center">@item.Referral</div>
                                                </div>
                                            </td>
                                        </tr>*@
                                        <tr>

                                            <th style="text-align:center">注册时间</th>
                                            <td>
                                                <div>
                                                    <div style="text-align:center">@item.CreatedAt</div>
                                                </div>
                                            </td>
                                        </tr>
                                        }
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    @*<ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">«</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">»</a></li>
                        </ul>*@
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <a href="@Url.Action("Index")" class="btn btn-default btn-flat margin"><i class="fa fa-mail-reply"></i> 返回列表</a>
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            </div>
    </section>
}