@model Bm.Models.Dp.Project
@using Bm.Modules.Html
@using Bm.Services.Dp

@section Header{
    <script src="~/Scripts/init.js"></script>
    <link rel="stylesheet" href="~/Content/css/app.min.css">
}

    @section PageHead {
        <h1>楼盘信息<small></small></h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i>首页</a></li>
            <li><a href="@Url.Action("Index")"><i class="fa fa-book"></i>楼盘</a></li>
            <li class="active">新增楼盘信息</li>
        </ol>
    }

    <!-- Main content -->
    <section class="content">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">新增楼盘信息</h3>
            </div>
            <form class="form-horizontal" action="@Url.Action("Create")" method="POST">
                <div class="box-body">
                    @Html.InputFor(m =>m.No)
                    @Html.InputFor(m=>m.Name)
                    @Html.InputFor(m => m.OwnerNo,SelectListFactory.GetDeveloperAllNo())
                @Html.InputFor(m => m.BldType, SelectListFactory.GetProjectType())
                    @Html.InputFor(m => m.BizGrp)
                    @Html.InputFor(m => m.SaleStatus)
                    <div class="form-group col-sm-12 col-md-6 col-lg-4">
                        <label for="AddrPic" class="control-label col-sm-3">位置图片</label>
                        <div class="col-sm-9">
                            <input type="file" class="form-control" id="AddrPic">
                        </div>
                    </div>
                    @Html.InputFor(m => m.AvgPrice)
                    @Html.InputFor(m => m.SalesTel)
                    @Html.InputFor(m => m.Address)
                    @Html.InputFor(m => m.Longitude)
                    @Html.InputFor(m => m.Latitude)
                    @Html.InputFor(m => m.AuthType)
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn bg-blue btn-flat margin">确认提交</button>
                    <a href="@Url.Action("Index")" class="btn btn-default btn-flat margin"><i class="fa fa-mail-reply"></i> 返回列表</a>
                </div>
                <!-- /.box-footer -->

            </form>
        </div>
    </section>