@model Bm.Models.Dp.Project
@using Bm.Modules.Html
@using Bm.Services.Common
@using Bm.Services.Dp

@section Header{
    <script src="~/Scripts/init.js"></script>
    <link rel="stylesheet" href="~/Content/css/app.min.css">
}
    @section PageHead {
        <h1>楼盘信息<small></small></h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i>首页</a></li>
            <li><a href="@Url.Action("Index")"><i class="fa fa-book"></i>楼盘</a></li>
            <li class="active">新增楼盘信息</li>
        </ol>
    }

    <!-- Main content -->
    <section class="content">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">新增楼盘信息</h3>
            </div>
            <form class="form-horizontal" action="@Url.Action("Create")" method="POST">
                <div class="box-body">
                    @Html.InputFor(m => m.No)
                    @Html.InputFor(m => m.Name)
                    @Html.InputFor(m => m.OwnerNo, SelectListFactory.GetDeveloperAllNo())
                    @Html.InputFor(m => m.BldType, SelectListFactory.GetProjectType())
                    @Html.InputFor(m => m.BizGrp)
                    @Html.InputFor(m => m.SaleStatus)
                    @Html.InputFor(m => m.AddrPic, new {@class = " upload-file img", data_url = AccessoryService.GetUrl("")})
                    @Html.InputFor(m => m.AvgPrice)
                    @Html.InputFor(m => m.SalesTel)
                    @Html.InputFor(m => m.Address)
                    @Html.InputFor(m => m.Longitude)
                    @Html.InputFor(m => m.Latitude)
                    @Html.InputFor(m => m.AuthType)
                    <hr/>
                    <table class="table data table-bordered table-striped dataTable" style="text-align: center;">
                        <tr><td style="width:20%"><b>周边类型</b></td><td><b>内容</b></td></tr>
                    @for (int i = 0; i < Model.ProjectInfos.Count; i++)
                    {
                        <tr>
                            <td>@Html.TextBoxFor(m => Model.ProjectInfos[i].Type,new {ReadOnly="ReadOnly",style="text-align: center;border:none;background-color:transparent;width:100%"})</td>
                            <td>@Html.TextAreaFor(m => Model.ProjectInfos[i].Content,new {style="width:100%"})</td>
                        </tr>
                    }
                    </table>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn bg-blue btn-flat margin">确认提交</button>
                    <a href="@Url.Action("Index")" class="btn btn-default btn-flat margin"><i class="fa fa-mail-reply"></i> 返回列表</a>
                </div>
                <!-- /.box-footer -->

            </form>
        </div>
    </section>