@using Bm.Modules.Html
@using Bm.Services.Common
@model Bm.Models.Dp.Project


@section Header{
    <script src="~/Scripts/init.js"></script>
}
@section PageHead {
    <h1>楼盘信息<small></small></h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>首页</a></li>
        <li><a href="@Url.Action("Index")"><i class="fa fa-book"></i>楼盘</a></li>
        <li class="active">查看楼盘信息</li>
    </ol>
}

@using (Html.BeginForm())
{
        <!-- Main content -->
    <section class="content">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">查看数据</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th style="text-align: center; width: 200px;">楼盘编号</th>
                                    <td>
                                        <div>
                                            <div style="text-align: center">@Model.No</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="text-align: center">楼盘名称</th>
                                    <td>
                                        <div>
                                            <div style="text-align: center">@Model.Name</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="text-align: center">开发商编号</th>
                                    <td>
                                        <div>
                                            <div style="text-align: center">@Model.OwnerNo</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <th style="text-align: center">类型</th>
                                    <td>
                                        <div>
                                            <div style="text-align: center">@Model.BldType</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="text-align: center">版块</th>
                                    <td>
                                        <div>
                                            <div style="text-align: center">@Model.BizGrp</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <th style="text-align: center">销售状态</th>
                                    <td>
                                        <div>
                                            <div style="text-align: center">@Model.SaleStatus</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <th style="text-align: center">位置图片</th>
                                    <td>
                                        <div>
                                            <div style="text-align: center"><img width="100" height="50" src="@AccessoryService.GetUrl(Model.AddrPic)"/></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <th style="text-align: center">均价</th>
                                    <td>
                                        <div>
                                            <div style="text-align: center">@Model.AvgPrice</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <th style="text-align: center">咨询电话</th>
                                    <td>
                                        <div>
                                            <div style="text-align: center">@Model.SalesTel</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <th style="text-align: center">经度</th>
                                    <td>
                                        <div>
                                            <div style="text-align: center">@Model.Longitude</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <th style="text-align: center">纬度</th>
                                    <td>
                                        <div>
                                            <div style="text-align: center">@Model.Latitude</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <th style="text-align: center">推客认证类型</th>
                                    <td>
                                        <div>
                                            <div style="text-align: center">@Model.AuthType</div>
                                        </div>
                                    </td>
                                </tr>
                                    @foreach (var infos in Model.ProjectInfos)
                                    {
  
                                <tr>

                                    <th style="text-align: center">@infos.Type</th>
                                    <td>
                                        <div>
                                            <div style="text-align: center">@infos.Content</div>
                                        </div>
                                    </td>
                                </tr>
                                    }
                                </tbody>
                            </table>
                            @*<div class="col-sm-12">
                                @Html.Raw(Model.ToHtmlTable()
                                .Table(new HtmlElement("table")
                                    .Attr("class", "table data table-bordered table-striped dataTable")
                                    .Attr("role", "grid")
                                    .Attr("aria-describedby", "example1_info"))
                                    .Add(m => m.No)
                                    .Add(m => m.Name)
                                    .Add(m => m.OwnerNo)
                                    .Add(m => m.BldType)
                                    .Add(m => m.BizGrp)
                                    .Add(m => m.SaleStatus)
                                    .Add(m => m.AddrPic)
                                    .Add(m => m.AvgPrice)
                                    .Add(m => m.SalesTel)
                                    .Add(m => m.Longitude)
                                    .Add(m => m.Latitude)
                                    .Add(m => m.AuthType)
                                    .ToString())
                            </div>*@
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a href="@Url.Action("Index")" class="btn btn-default btn-flat margin"><i class="fa fa-mail-reply"></i> 返回列表</a>
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
    </section>
}