@model Bm.Models.Dp.Project

    @section Header{
    }

    @section PageHead {
        <h1>楼盘信息<small></small></h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i>首页</a></li>
            <li><a href="@Url.Action("Index")"><i class="fa fa-book"></i>楼盘</a></li>
            <li class="active">修改楼盘信息</li>
        </ol>
    }

    <script src="~/Content/JavaScript/Js_Tools.js"></script>
    <!-- Main content -->
    <section class="content">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">修改楼盘信息</h3>
            </div>
            <form class="form-horizontal" action="@Url.Action("Edit")" method="POST">
                <div class="box-body">
                        <div class="form-group col-sm-12 col-lg-4 col-md-6">
                            <label for="No" class="col-sm-4 control-label">编号</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="No" name="No" placeholder="编号必须唯一">
                                <p class="help-block">@Html.ValidationMessageFor(m => m.No)</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-lg-4 col-md-6">
                            <label for="Name" class="col-sm-4 control-label">名称</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Name" name="Name" placeholder="名称">
                                <p class="help-block">@Html.ValidationMessageFor(m => m.Name)</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-lg-4 col-md-6">
                            <label for="BldType" class="col-sm-4 control-label">类型</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(m => m.BldType, new SelectList(new[] { new { Text = "类型1", Value = "类型1" }, new { Text = "类型2", Value = "类型2" } }, "Text", "Value"), new { @class = "form-control" })
                                <p class="help-block">@Html.ValidationMessageFor(m => m.BldType)</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-lg-4 col-md-6">
                            <label for="BizGrp" class="col-sm-4 control-label">版块</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="No" name="BizGrp" placeholder="版块">
                                <p class="help-block">@Html.ValidationMessageFor(m => m.BizGrp)</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-lg-4 col-md-6">
                            <label for="SaleStatus" class="col-sm-4 control-label">销售状态</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Name" name="SaleStatus" placeholder="销售状态">
                                <p class="help-block">@Html.ValidationMessageFor(m => m.SaleStatus)</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-lg-4 col-md-6">
                            <label for="AddrPic" class="col-sm-4 control-label">位置图片</label>
                            <div class="col-sm-8">
                                <input type="file" class="form-control" id="AddrPic">
                                <p class="help-block">@Html.ValidationMessageFor(m => m.AddrPic)</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-lg-4 col-md-6">
                            <label for="AvgPrice" class="col-sm-4 control-label">均价</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="AvgPrice" name="AvgPrice" placeholder="均价">
                                <p class="help-block">@Html.ValidationMessageFor(m => m.AvgPrice)</p>
                            </div>
                        </div>
                    <div class="form-group col-sm-12 col-lg-4 col-md-6">
                        <label for="SalesTel" class="col-sm-4 control-label">咨询电话</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="SalesTel" name="SalesTel" placeholder="咨询电话">
                            <p class="help-block">@Html.ValidationMessageFor(m => m.SalesTel)</p>
                        </div>
                    </div>
                        <div class="form-group col-sm-12 col-lg-4 col-md-6">
                            <label for="Address" class="col-sm-4 control-label">地址</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="No" name="Address" placeholder="地址">
                                <p class="help-block">@Html.ValidationMessageFor(m => m.Address)</p>
                            </div>
                        </div>
                    <div class="form-group col-sm-12 col-lg-4 col-md-6">
                        <label for="Longitude" class="col-sm-4 control-label">经度</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="Longitude" name="Longitude" placeholder="经度">
                            <p class="help-block">@Html.ValidationMessageFor(m => m.Longitude)</p>
                        </div>
                    </div>
                        <div class="form-group col-sm-12 col-lg-4 col-md-6">
                            <label for="Latitude" class="col-sm-4 control-label">纬度</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Latitude" name="Latitude" placeholder="纬度">
                                <p class="help-block">@Html.ValidationMessageFor(m => m.Latitude)</p>
                            </div>
                        </div>
                    <div class="form-group col-sm-12 col-lg-4 col-md-6">
                        <label for="AuthType" class="col-sm-4 control-label">推客认证类型</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="AuthType" name="AuthType" placeholder="推客认证类型">
                            <p class="help-block">@Html.ValidationMessageFor(m => m.AuthType)</p>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn bg-blue btn-flat margin">确认提交</button>
                    <a href="@Url.Action("Index")" class="btn btn-default btn-flat margin"><i class="fa fa-mail-reply"></i> 返回列表</a>
                </div>
                <!-- /.box-footer -->

            </form>
        </div>
    </section>