@model Bm.Models.Dp.Developer
@section Header{
}

@section PageHead {
    <h1>开发商信息<small></small></h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>首页</a></li>
        <li><a href="@Url.Action("Index")"><i class="fa fa-book"></i>开发商</a></li>
        <li class="active">修改开发商信息</li>
    </ol>
}
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">修改开发商信息</h3>
        </div>
        @using (Html.BeginForm("Edit", "Developer", FormMethod.Post, new Dictionary<string, object>{ { "class",  "form-horizontal" }}))
        {
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.CreatedAt)
            @Html.HiddenFor(m => m.CreatedBy)

            <div class="box-body">
                <div class="form-group">
                      <label for="No" class="col-sm-2 control-label">编号</label>

                      <div class="col-sm-10">
                          <input type="text" class="form-control" id="No" name="No" value="@Model.No" placeholder="编号">
                          <label for="No" class="control-label">@Html.ValidationMessageFor(m => m.No)</label>
                      </div>
                  </div>


                <div class="form-group">
                    <label for="Name" class="col-sm-2 control-label">名称</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" placeholder="名称">
                        <label for="No" class="control-label">@Html.ValidationMessageFor(m => m.Name)</label>
                    </div>
                </div>


            </div>
              <!-- /.box-body -->
            <div class="box-footer" style="text-align: right;">
                <button type="submit" class="btn bg-blue btn-flat margin">确认提交</button>
                <a href="@Url.Action("Index")" class="btn bg-blue btn-flat margin"><i class="fa fa-mail-reply"></i>返回列表</a>
            </div>
        } 
       </div>
    </section>
